:root {
  --main-color: #161415;
  --second-color: #f3e1c7;
  --third-color: #dccaa8;
  --fourth-color: #f45325;
  --fifth-color: #252123;
  --sixth-color: #c6401b;
  --seventh-color: #dcdcdc;
  --eighth-color: #f2f2f2;
}

.customer-dashboard {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 220px; /* Adjust this to match your sidebar width */
  height: 100%; /* Full height of parent */
  overflow-y: auto; /* Allow vertical scrolling if needed */
  display: flex;
  flex-direction: column;
  margin-top: -40px;
}

.table-box {
  background-color: var(--fifth-color);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  flex-grow: 1; /* Allow the box to grow and fill available space */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Hide overflow for child elements */
}
.book-table button {
  color: var(--third-color);
  background-color: var(--fourth-color);
  border: none;
  border-radius: 4px;
  padding: 7px;
  transition: all 0.3s ease-in-out;
}

.book-table button:hover {
  background-color: var(--sixth-color);
  transform: scale(110%);
}
.book-table button:active {
  transform: scale(90%);
}


.table-box h2 {
  margin-bottom: 20px;
  color: var(--third-color);
  font-size: 1.5em;
}

.book-table-container {
  overflow-y: auto; /* Add scroll for table content */
  flex-grow: 1; /* Allow it to fill remaining space */
}

.book-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.book-table th,
.book-table td {
  padding: 12px;
  text-align: left;
}

.book-table th {
  background-color: var(--main-color);
  font-weight: bold;
  color: var(--second-color);
  position: sticky;
  top: 0;
  z-index: 1;
}

.book-table tr:nth-child(even) {
  background-color: var(--main-color);
}

.book-table tr{
  background-color: var(--fifth-color);
}
.book-table td {
  color: var(--third-color);
}

/* Rounded corners for the first and last rows */
.book-table tr:first-child th:first-child {
  border-top-left-radius: 8px;
}

.book-table tr:first-child th:last-child {
  border-top-right-radius: 8px;
}

.book-table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

.book-table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    padding: 10px;
  }

  .table-box {
    padding: 10px;
  }

  .book-table th,
  .book-table td {
    padding: 8px;
    font-size: 0.9em;
  }
}