.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    color: #f3e1c7;
    z-index: 1000;
    background-color: #161415;
}
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 270px;
    height: 100%;
  }
  
  .header h1 {
    margin: 0;
    font-size: 40px;
    margin-left: -215px;
    margin-top: 10px;
    color: #f3e1c7;
    font-style: italic;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info span {
    margin-right: 15px;
  }
  
  .user-info button {
    background-color: #f45325;
    color: #f3e1c7;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  .user-info li a {
    text-decoration: none;
    color: #f3e1c7;
  }
  .user-info li a:hover {
    text-decoration: none;
    color: #f45325;
    transition: all 0.3s ease-in-out;
  }