.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 220px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  background-color: #252123;
}

.sidebar {
  padding: 80px 20px 20px;
  overflow-y: auto;
  height: calc(100% - 60px);
  background-color: #252123;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  width: 100%;
  max-width: 175px;
  margin-top: 35px;

}

.sidebar h2 {
  margin-bottom: 20px;
  color: #f45325;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 40px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #dccaa8;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
}

.sidebar ul li a:hover {
  color: #f3e1c7;
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
.sidebar ul li a:focus {
  color: #f3e1c7;
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}